<header>
	<nav>
		<ul>
			<li><a href='/'>Logout</a></li>
		</ul>
	</nav>
</header>
<div id='heading'>
<h1>Movie Lists</h1>
</div>
<h2>{{username}}</h2>
<p><a href='/search/{{username}}'>Search</a></p>
{{#each movies}}
<center>
<h3>{{this.title}}</h3>
<img src='{{this.imgsrc}}'>
<p>{{this.description}}</p>
<form action='/delete/{{this.imdbid}}' method='post'>
	<input type='hidden' name='username' value='{{username}}'>
	<input type='submit' value='Delete'>
</form>
</center>

{{/each}}