<h1>Movie Lists</h1>
<h2>{{username}}</h2>
<p><a href='/search/{{username}}'>Search</a></p>
{{#each movies}}

<h3>{{this.title}}</h3>
<img src='{{this.imgsrc}}'>
<p>{{this.description}}</p>
<form action='/users' method='delete'>
	<input type='hidden' name='id' value='{{this.imdbid}}'>
	<input type='submit' value='Delete'>
</form>

{{/each}}